body {
    background-color:white;
}

h1 {
        color:black;
        margin-right: 0px;
        padding-top: 60px
}       

#start of nav bar code
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFE2E2;
}

li {
    float:center;
}

a {
    display:block;
    color:#FFE2E2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

p {
    font-family: "Times New Roman", Times, serif;
}

