body {
    background-color:white;
}

h1 {
        color:black;
        margin-right: 0px;
        padding-top: 60px
}       

#start of nav bar code
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   position: fixed center ;
    top: 0;
    width: 100%;
}

li {
    float:none;
}

a {
    display:block;
    padding: 15px;
    background-color:#FFE2E2;
    font-family: "Times New Roman", Times, serif;
}

li a:hover {
    background-color: white;
}

p {
    font-family: "Times New Roman", Times, serif;
}

